@model IEnumerable<DailyRoarBlog.Models.BlogPost>
@using DailyRoarBlog.Services.Interfaces
@using DailyRoar.Services.Interfaces
@using DailyRoarBlog.Enums

@inject IImageService _ImageService
@inject IBlogPostService _BlogService 

<!-- Start Author Area  -->
<div class="axil-author-area axil-author-banner bg-color-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-author">
                    <div class="media">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/img/RainForest_ProfilePic.png" alt="Author Images">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="author-info">
                                <h1 class="title"><a href="#">Kamryn Szeliga</a></h1>
                                <span class="b3 subtitle">Junior Developer</span>
                            </div>
                            <div class="content">
                                <p class="b1 description">
                                    My first exposure to coding was through BBCode on a forum way back in 2014. 
                                    From there I ended up dabbling in a little bit of HTML here and there, mostly 
                                    using it to make sure my artwork looked nice on personal web pages. I didn't do 
                                    much with coding until recently. I decided to fully delve into the word of 
                                    coding after figuring out that life in the very unpredictable animation industry 
                                    wasn't going to work for me.
                                    <br />
                                    Front-end web development was always where I felt most comfortable, but after 
                                    attending Coder Foundry I now find myself comfortable with not only front end 
                                    development, but back end as well.</p>
                                <ul class="social-share-transparent size-md">
@*                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>*@
                                    <li><a asp-controller="Home" asp-action="ContactMe"><i class="far fa-envelope"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/kamryn-szeliga-b4aa59190/"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Author Area  -->